*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 2042px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

/* shared class */
.my-btn{
    background-color: #469165;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
}
.my-btn:hover{
    background-color: #FFFFFF;
    color: #469165;
}


/* navigation section */
header{
    max-width: 2042px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid black;

}
header nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    /* padding: 16px 120px 16px 120px; */
    border: 1px solid rebeccapurple;
    align-items: center;
    margin: 16px auto;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
}

/* banner section */