*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
body{
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

/* shared class */
.my-btn{
    background-color: #469165;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
    padding: 12.5px 16px;
    cursor: pointer;
    border: none;
}
.my-btn:hover{
    background-color: #FFFFFF;
    color: #469165;
}


/* navigation section */
header{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid black;

}
header nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    border: 1px solid rebeccapurple;
    align-items: center;
    /* margin: 16px auto; */
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
}

/* navigation section ends here */


/* banner section */

main .banner{
    max-width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}


.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

}


/* It is for big header section Structured Thinking */
.banner h2{
    font-style: Bold;
    font-size: 100px;
    font-weight: 700;

}
.banner .st{
    color: #FFFFFF;
}

.banner .nt{
   color: #469165;
}
/* Structured thinking done */



/* banner paragraph class */

main .banner .paragraph{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;

}




/* banner buttons */
/* <--------------------------------------------------------------------> */
.early-access-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    color: #469165;
    border-radius: 1000px;

    font-style: Medium;
    font-size: 16px;
    font-weight: 500;

}

.arrow-button{
    background-color: #469165;
    color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 12px;
    border-radius: 4px;
    gap: 10px;

    border: none;
    font-size: 16px;
    font-weight:600 ;
   


}
.arrow-button:hover{
    color: #469165;
    background-color: rgba(255, 255, 255, 1);
}
.video-button{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);

    border-radius: 4px;
    padding: 16px 12px;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    color: rgba(255, 255, 255, 1);
   
    font-size: 16px;
    font-weight:600 ;
    
}

.video-button:hover{
    color: #469165;
    background-color: rgba(255, 255, 255, 1);
}

/* <--------------------------------------------------------------------> */

/* main banner section ends here */

/* small banner */

main .small-banner{
    max-width: 1360px;
    margin: 0 auto;
    height: 116px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* border: 1px solid rebeccapurple; */
}


main .small-banner .notes {
   height: 116px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   /* border: 3px solid red; */
} 


main .small-banner .notes h2{
    font-size: 48px;
    font-weight: 700;
    /* border: 3px solid red; */
} 

/* ------------------------- */

main .cards{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */

}

.cards .div{
    /* border: 3px solid red; */
    width: 322px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;

    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}


/* second brain section */

footer .second-brain{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 120px auto;
    /* border: 1px solid black; */
}
footer .second-brain .solution{
    width: 700px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid black; */

}
.solution .tick-box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: space-between;
    gap: 16px;
}

.solution h2{
    font-size: 48px;
    font-weight: 700;
}
.solution h1{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.solution p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.solution .headings{
    margin-bottom: 16px;
} 
.solution .para{
    margin-bottom: 40px;
} 

.tick-box h5{
    display: flex;
    justify-content: flex-start;
    gap: 6px;

}

/* final last footer */

.ready{

    margin: 120px auto;
   
    /* border: 1px solid red; */
 

    width: 1360px;
    height: 384px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 80px 40px 80px 40px;

    background-color: #F7F6F2;

}

.ready h2{
    font-size: 40px;
    font-weight: 700;
}

.ready .ready-para{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #627382;
}

.ready button{
    background-color: #469165;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    

}
.ready button:hover{
    background-color: #FFFFFF;
    color: #469165;
}

/* final footer */

.final{
    max-width: 1600px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border-top: 1px solid white;
    height: 54px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.social-links{
    /* border: 2px solid rebeccapurple; */

    width: 220px;
    height: 64px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    font-size: 20px;
    font-weight: 500;

}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}